.inhalt {
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 10px;
}
.inhalt p {
  font-weight: bolder;
  font-size: larger;
  max-width: 95%;
  word-spacing: 50px;
}
.b-logo {
  width: 100px;
  margin: auto;
}
.img-div{
    display: flex;
    align-items: center;
}